.ent_invreq_mainheading {
    color: rgb(6, 163, 218);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    text-align: center;
}
.ent_invreq_sub_h3{
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.74px;
    text-align: center;
    
}

.ent_invreq_hr_line{
    width: 96px;
    border: 2px solid #06A3DA;
    margin-left: 515px;
}

.ent_invreq_profile{
    width: 233px;
    height: 358px;
    background: #EEF9FF;
}
.ent_invreq_profile_pic{
    width: 233px;
    height: 247px;

}
.ent_invreq_name{
    font-family: Nunito;
    font-size: 18px;
    font-weight: 500;
    line-height: 24.55px;
    text-align: center;
    color: #7C7B7B;

}
.ent_invreq_fname{
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    text-align: center;
    color: #06A3DA;

}
.ent_invreq_btn{
    width: 96px;
    height: 23px;
    background: #3485D0;
    border:none;
    color: #fff;
    font-family: Nunito;
    font-size: 13.5px;
    font-weight: 400;
    line-height: 18.41px;
    text-align: center;
    margin-left: 70px;

}