nav.NavTopBg {
    background-color: #091e3e;
    height: 55px;
  }
  
  svg#TopNavLocationLogo {
    width: 15px;
    height: 14.73px;
    top: 19.34px;
    margin-left: 34px;
    color: #ffffff;
  }
  
  a.Topnavlocationaddress {
    width: 222px;
    height: 22px;
    top: 17px;
    margin-left: 5px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
  }
  
  svg#Topnavphonelogo {
    width: 20.25px;
    height: 19.12px;
    top: 2.25px;
    margin-left: 34px;
  
    color: #ffffff;
  }
  
  a.Topnavconatctnumber {
    width: 131px;
    height: 22px;
    top: 17px;
    margin-left: 5px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
  }
  
  svg#Topnavemaillogo {
    width: 21px;
    height: 20.63px;
    top: 16.38px;
    margin-left: 34px;
    color: #ffffff;
  }
  
  a.Topnavemailadress {
    width: 172px;
    height: 22px;
    top: 17px;
    margin-left: 5px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
  }
  
  #Topnavtwiterlogo {
    width: 32px;
    height: 31.43px;
    top: 10.8px;
    margin-left: 400px;
    border: none;
    color: #ffffff;
  }
  #Topnavfacebooklogo {
    width: 32px;
    height: 28px;
    top: 11px;
    margin-left: 10px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    
  
    color: #ffffff;
  }
  #Topnavlilogo {
    width: 35px;
    height: 35px;
    top: 11px;
    margin-left: 10px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    color: #ffffff;
  }
  #Topnavinstalogo {
    width: 32px;
    height: 32px;
    top: 11px;
    margin-left: 10px;
    border: 1px 0px 0px 0px;
    color: #ffffff;
  }
  #Topnavyoutubelogo {
    width: 32px;
    height: 32px;
    top: 11px;
    margin-left: 10px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    color: #ffffff;
    background-color: #091e3e;
  }
  
  