.ad_mentor_viewblog_mainheading {
    color: rgb(6, 163, 218);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    text-align: center;
  
  }

  .ad_mentor_viewblog_sub_h3{
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.74px;
    text-align: center;
    
  }
  .ad_mentor_viewblog_hr_line{
    width: 96px;
    border: 2px solid #06A3DA;
    margin-left: 593px;
}

.ad_mentor_viewblogs_sec_col{
  background-color: #EEF9FF;
}

.ad_mentor_viewblogs_fir_col{
  background-color: #EEF9FF;
}

.ad_mentor_viewblog_mainrow{
  padding-bottom: 50px;
  height: auto;
  }

.ad_montor_row_viwblog{
  font-family: 'Nunito' sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-top: 30px;
  padding-left: 50px;
}

.ad_mentorviewblog_coverimage{
  width: 488px;
  height: 288px;
  top: 401px;
  left: 120px;
}

.ad_mentor_viewblogs_sec_col label{
  font-family: 'Nunito' sans-serif;
  font-size: 15px;
  padding-top: 30px;
  padding-left: 50px;
}

.ad_mentor-icon{
  color: #06A3DA;
}

.ad_menter_viewblog_btn{
  width: 20%;
  height: 40px;
  font-family: 'Nunito', Verdana;
  font-size: 18px;
  border: #e8e8e8;
  color: #ffffff;
  background: #06A3DA;
  box-shadow: 0px 4px 6.9px 0px #00000040;
}

.mentor_viewblog_secbtn{
  margin-left: 70px;
}

.ad_mentor_viewblog_button_div{
  padding-top: 20px;
  text-align: right;
  margin-right: 50px;
  margin-bottom: 20px;
}

.ad_mentor_blogname{
    margin-left: 50px;
    margin-top: 20px;
}
