.invview_ent_viewsplan_profile{
    width: 380px;
    height: 428px;
    gap: 0px;
    border: 0px 1px 0px 0px;
    opacity: 0px;    
    background: #EEF9FF;
    border-right: 1px solid #00000040;
    /* box-shadow: 0px 4px 12.4px 0px #00000026; */
    text-align: left;
    padding-left: 50px;
    padding-top: 50px;
}


.invview_ent_viewsplan_subhead{
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.1px;
    color: #058FBF;

}

.invview_ent_viewsplan_value{
    width: 164px;
    height: 22px;
    top: 72px;
    left: 39px;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.82px;
    text-align: left;
    color: #000000;
    border: none;
    background: #EEF9FF;


}
