p.Registernow {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
  line-height: 24.55px;
  color: #00b0f0;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
  line-height: 24.55px;
  color: #00b0f0;
}
h1.Registertopcontent {
  font-family: Nunito;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.74px;
  color: #0f2442;
}
h1.Registertopcontent {
  font-family: Nunito;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.74px;
  color: #0f2442;
}

.Entinput {
  width: 424px;
  height: 53px;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.55px;
  background: #eef9ff;
  color: #555252;
  border: none;
}
#chooseimage {
  float: right;
}
.Entregbtn {
  text-align: center;
  background: #06a3da;
  border: none;
  padding: 8px 122px;
}
.Entregbtn {
  text-align: center;
  background: #06a3da;
  border: none;
  padding: 8px 122px;
}

.dummy .row {
  --bs-gutter-x: 0;
}

.Entreginput {
  padding: 17px 110px;
  background-color: #eef9ff;
  color: #555252;
  border: none;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;

  border: none;
}

#Entsignuploadimage {
  background-color: #eef9ff;
  color: #555252;
  text-align: left;
  border: none;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;
  border: none;
  padding: 15px 1px;
}

.EntRegimage {
<<<<<<< HEAD
  width: 375px;
  height: 578px;
}
=======
    width: 375px;
    height: 578px;
}

>>>>>>> 62b2e909d769a49beb6d16b32b28bd71cbaee71a
