p.Registernow {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
  line-height: 24.55px;
  color: #00b0f0;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
  line-height: 24.55px;
  color: #00b0f0;
}
h1.Registertopcontent{
font-family: Nunito;
font-size: 24px;
font-weight: 700;
line-height: 32.74px;
color: #0F2442;
}




.Entregbtn{

text-align: center;
background: #06A3DA;
border: none;
padding: 8px 122px;
}

.dummy .row{
    --bs-gutter-x:0;
    
}
.Entreginput {
  padding: 17px 110px;
  background-color: #eef9ff;
  color: #555252;
  border: none;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;

  border: none;
}

#Entsignuploadimage {
   
    background-color: #EEF9FF;
    color: #555252;
    text-align: left;
    border: none;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 15px 1px;
}
.EntRegimage {
  width: 375px;
  height: 338px;
}
