p.Registernow {
font-family: Nunito;
font-size: 18px;
font-weight: 700;
line-height: 24.55px;
color: #00B0F0;
}
h1.Registertopcontent{
font-family: Nunito;
font-size: 24px;
font-weight: 700;
line-height: 32.74px;
color: #0F2442;
}


.Entinput{
width: 424px;
height: 53px;
font-family: Nunito;
font-size: 18px;
font-weight: 400;
line-height: 24.55px;
background: #EEF9FF;
color: #555252;
border: none;
}
 #chooseimage{
    float: right;
}
.Entregbtn{

text-align: center;
background: #06A3DA;
border: none;
padding: 8px 122px;
}

.dummy .row{
    --bs-gutter-x:0;
    
}

