.mentor_pay_mainheading {
    color: rgb(6, 163, 218);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    text-align: center;
  
  }

  .mentor_pay_sub_h3{
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.74px;
    text-align: center;
    
  }
  .mentor_pay_hr_line{
    width: 96px;
    border: 2px solid #06A3DA;
    margin-left: 593px;
}