.NavTop-Bg {
  background-color: #091e3e;
  /* height: 55px; */
}
.Landing_topnav_address{
 font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 21.78px;
text-align: left;
color: #FFFFFF;
}

div.sticky{
  position: sticky;
  top:-1%;
}

.landingsecondheader {
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: larger;
  z-index: 1;
  width: 100%;
  font-weight: 400;
}
.landingpagemaindiv {
  /* margin-top: 5%; */
  background-image: url("https://themewagon.github.io/startup2/img/carousel-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
}
.landingpagemainseconddiv {
  position: relative;
  right: 10px;
  top: 150px;
  color: #ffffff;
  font-weight: 700;
  font-size: larger;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.landingpagemainseconddiv2 {
  background-color: #ffffff;
  color: rgb(6, 163, 218);
}
.landingpagemainseconddiv1 {
  background-color: #06a3da;
}
#aboutsection{
  margin-top: 5%;
  padding-top: 15%;
}
.aboutusheading {
  padding-top: 10%;

  color: rgb(6, 163, 218);
}
.about2 {
  margin-top: 20%;
}

.minddlecard {
  background-color: #eef9ff;
}
.mainheadings {
  color: rgb(6, 163, 218);
}
.navbarstext{
  color: rgb(6, 163, 218);
text-decoration: none;
}
.landingtopheader{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}