nav.NavTopBg {
  background-color: #091e3e;
  height: 55px;
}

svg#TopNavLocationLogo {
  width: 15px;
  height: 14.73px;
  top: 19.34px;
  margin-left: 34px;
  gap: 0px;
  opacity: 0px;
  color: #ffffff;
}

a.Topnavlocationaddress {
  width: 222px;
  height: 22px;
  top: 17px;
  margin-left: 5px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

svg#Topnavphonelogo {
  width: 20.25px;
  height: 19.12px;
  top: 2.25px;
  margin-left: 34px;
  gap: 0px;
  opacity: 0px;

  color: #ffffff;
}

a.Topnavconatctnumber {
  width: 131px;
  height: 22px;
  top: 17px;
  margin-left: 5px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

svg#Topnavemaillogo {
  width: 21px;
  height: 20.63px;
  top: 16.38px;
  margin-left: 34px;
  gap: 0px;
  opacity: 0px;
  color: #ffffff;
}

a.Topnavemailadress {
  width: 172px;
  height: 22px;
  top: 17px;
  margin-left: 5px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

#Topnavtwiterlogo {
  width: 32px;
  height: 31.43px;
  top: 10.8px;
  margin-left: 606px;
  gap: 0px;
  opacity: 0px;
  border: none;
  color: #ffffff;
}
#Topnavfacebooklogo {
  width: 32px;
  height: 28px;
  top: 11px;
  margin-left: 10px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;

  color: #ffffff;
}
#Topnavlilogo {
  width: 35px;
  height: 35px;
  top: 11px;
  margin-left: 10px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  color: #ffffff;
}
#Topnavinstalogo {
  width: 32px;
  height: 32px;
  top: 11px;
  margin-left: 10px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  color: #ffffff;
}
#Topnavyoutubelogo {
  width: 32px;
  height: 32px;
  top: 11px;
  margin-left: 10px;
  gap: 0px;
  border-radius: 5px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  color: #ffffff;
  background-color: #091e3e;
}
div.sticky{
  position: sticky;
  top:-1%;
}

.landingsecondheader {
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: larger;
  z-index: 1;
  width: 100%;
  font-weight: 400;
}
.landingpagemaindiv {
  /* margin-top: 5%; */
  background-image: url("https://themewagon.github.io/startup2/img/carousel-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
}
.landingpagemainseconddiv {
  position: relative;
  right: 10px;
  top: 150px;
  color: #ffffff;
  font-weight: 700;
  font-size: larger;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.landingpagemainseconddiv2 {
  background-color: #ffffff;
  color: rgb(6, 163, 218);
}
.landingpagemainseconddiv1 {
  background-color: #06a3da;
}
#aboutsection{
  margin-top: 5%;
  padding-top: 15%;
}
.aboutusheading {
  padding-top: 10%;

  color: rgb(6, 163, 218);
}
.about2 {
  margin-top: 20%;
}

.minddlecard {
  background-color: #eef9ff;
}
.mainheadings {
  color: rgb(6, 163, 218);
}
