.ent-loginpage-loginhere{
    width: 92px;
    height: 25px;
    left: 674px;
    gap: 0px;
    opacity: 0px;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    text-align: center;
    color: #00B0F0;
    display: inline;
}
.ent-loginpage-content{
    width: 272px;
    height: 66px;
    top: 237px;
    left: 585px;
    gap: 0px;
    opacity: 0px;
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.74px;
    text-align: center;
    color: #0F2442;
    display: inline;
}


.ent-loginpage-img_div{
    width: 50%;
    padding-top: 10px;
}
.ent-loginpage-img{
    width: 575px;
    height: 427px;
    left: 61px; 
    gap: 0px;
    opacity: 0px;
    position: absolute;

}

.ent-loginpage-loginform{
    width: 50%;
    height: Hug (128px)px;
    top: 137px;
    left: 638px;
    gap: 2px;
    opacity: 0px;
    border-color: #EEF9FF;
    position: relative;

}

.ent-loginpage-email-label{
    width: 86px;
    height: 25px;
    gap: 0px;
    opacity: 0px;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
    text-align: center;
    color: #555252;
    display: block;

}

.ent-loginpage-email{
    width: 456px;
    height: 43px;
    gap: 0px;
    opacity: 0px;
    background: #EEF9FF;
    border: #EEF9FF;

}

.ent-loginpage-password-label{
    width: 80px;
    height: 25px;
    gap: 0px;
    opacity: 0px;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
    text-align: center;
    color: #555252;
    display: block;

}

.ent-loginpage-password{
    width: 456px;
    height: 43px;
    gap: 0px;
    opacity: 0px;
    background: #EEF9FF;
    border: #EEF9FF;
    
}
.ent-loginpage-loginbtn{
    width: 456px;
    height: 45px;
    top: 698px;
    left: 788px;
    margin-top: 10px;
    gap: 0px;
    opacity: 0px;
    border: #ffffff;
    color: #ffffff;
    background: #00B0F0;

}

