.ent_loginpage_img_div{
    padding-top: 10px;
}
.ent_loginpage_img{
    width: 505px;
    height: 387px;
}
.ent_mainheading {
    color: rgb(6, 163, 218);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    text-align: center;
  
  }

  .ent_sub_h3{
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.74px;
    text-align: center;
    
  }
  .login_hr_line{
    width: 96px;
    border: 2px solid #06A3DA;
    margin-left: 510px;
  }
.ent_loginform{
    /* width:  50%; */
    height: Hug (128px)px;
    gap: 2px;
    border-color: #EEF9FF;

}

.ent_loginpage_email_label{
    width: 86px;
    height: 25px;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
    text-align: center;
    color: #555252;
    display: block;

}

.ent_loginpage_email{
    width: 456px;
    height: 43px;
    background: #EEF9FF;
    border: #EEF9FF;

}

.ent_loginpage_password_label{
    width: 80px;
    height: 25px;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
    text-align: center;
    color: #555252;
    display: block;

}

.ent_loginpage_password{
    width: 456px;
    height: 43px;
    background: #EEF9FF;
    border: #EEF9FF;
    
}
.ent_login_loginbtn{
    width: 456px;
    height: 45px;
    top: 698px;
    left: 788px;
    margin-top: 10px;
    border: #ffffff;
    color: #ffffff;
    background: #00B0F0;

}